<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  



<div  class="container">
  <div class="row">
    <div class="col">
      <ion-card >
        <img alt="Silhouette of mountains" src="https://tuboleta.com/imagenes/65b7f74e4d235.webp" />
        <ion-card-header>
          <ion-card-title>CARNAVAL DE LAS ARTES 2024: ¡DOBLE TUMBAO, UN SOLO CORAZÓN!</ion-card-title>
          <ion-card-subtitle>2024-02-09</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Lugar: Centro De Convenciones Universidad Del Atlántico<br>
Ciudad: Barranquilla<br>
Hora: 8:00AM<br>
Categoría: Familia
        </ion-card-content>
      </ion-card>


      <ion-card>
        <img alt="Silhouette of mountains" src="https://tuboleta.com/imagenes/6593fc367038a.webp" />
        <ion-card-header>
          <ion-card-title>METRO CONCIERTO DE CARNAVAL 2024</ion-card-title>
          <ion-card-subtitle>2024-02-10</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Lugar: Estadio Romelio Martínez<br>

          
          Ciudad: Barranquilla<br>
          
        
          
       
          Hora: 4:00PM<br>
          
         
          Categoría: Conciertos
        </ion-card-content>
      </ion-card>
      
    </div>
  </div>
</div>
</ion-content>
