/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Josefin+Sans:ital,wght@1,200&display=swap');


ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }

  .titulo{
    font-family: 'EB Garamond', serif;
    font-size: 20;
    color:rgb(174, 6, 240) ;

  }
  .normal{
    font-family: 'EB Garamond', serif;
    font-family: 'Josefin Sans', sans-serif
    font-size 15;
    color:rgb(0, 0, 0) ;
    
    

  }
  ion-content.fondohome{
    --background: url("https://media.istockphoto.com/id/1040250650/es/foto/fondo-de-estudio-blanco.jpg?s=612x612&w=0&k=20&c=E8ObrYH_ftiHT6ehVtGqGYszCPCLIraLA17g4B17mJ8=");
  }
