<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      MyTicket
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondohome">
  

  <swiper-container
  [loop]="true"
  [pagination]="true"
  >
  

<swiper-slide>
  <div class="container">
    <div class="row">
      <div class="col-6">
  <h1 class="titulo">JUNIOR VS BUCARAMANGA</h1>
  <p class="normal">24/01/2024</p>
  <img src="https://tuboleta.com/imagenes/65aacf71c0c41.webp">
</div>
<div class="col-6">
  <h1 class="normal">
    Lugar: Estadio Metropolitano de Fútbol Roberto Meléndez <br>
    Ciudad: Barranquilla <br>
    Fecha: 2024-01-21 <br>
    Hora: 6:10PM <br>
    Dirección: Av. Circunvalar con Cll Murillo
   .</h1>
  <button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>
 
</div>
  
</swiper-slide>
<swiper-slide>
  <div class="container">
    <div class="row">
      <div class="col-6">
  <h1 class="titulo">METRO FEST SANTA MARTA 2024</h1>
  <p class="normal">11/02/2024</p>
  <img src="https://tuboleta.com/imagenes/65a13a693d33c.webp">
</div>
<div class="col-6">
  <h1 class="normal">
    Lugar: Rumbodromo de la 22 <br>
    Ciudad: Santa Marta <br>
    Fecha: 2024-02-11 <br>
    Hora: 4:00PM. <br>
   </h1>
  <button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>
 
</div>
</swiper-slide>
<swiper-slide>
  <div class="container">
    <div class="row">
      <div class="col-6">
  <h1 class="titulo">DEPORTES TOLIMA VS AMÉRICA | 2024-1</h1>
  <p class="normal">2024-01-31</p>
  <img src="https://tuboleta.com/imagenes/65b7be185c080.webp">
</div>
<div class="col-6">
  <h1 class="normal">
    Lugar: Estadio Manuel Murillo Toro <br>
    Ciudad: Ibagué <br>
    Fecha: 2024-01-31 <br>
    Hora: 8:20PM <br>
   </h1>
  <button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>
 
</div>
</swiper-slide>
<swiper-slide><div class="container">
  <div class="row">
    <div class="col-6">
<h1 class="titulo">COPA DAVIS GRUPO MUNDIAL I : COLOMBIA VS LUXEMBURGO</h1>
<p class="normal">2024-02-02</p>
<img src="https://tuboleta.com/imagenes/659eaf6d82674.webp">
</div>
<div class="col-6">
<h1 class="normal">
  Lugar: Club Bellavista Colsubsidio <br>
  Ciudad: Bogotá <br>
  Fecha: 2024-02-02 <br>
  Dirección: Autopista Norte # 245 - 91<br>
 </h1>
<button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>

</div></swiper-slide>
<swiper-slide><div class="container">
  <div class="row">
    <div class="col-6">
<h1 class="titulo">SANTA FE VS BUCARAMANGA - LIGA BETPLAY 2024-1</h1>
<p class="normal">2024-02-06</p>
<img src="https://tuboleta.com/imagenes/65b96124b6219.webp">
</div>
<div class="col-6">
<h1 class="normal">
  Lugar: Estadio El Campín <br>
  Ciudad: Bogotá <br>
  Fecha: 2024-02-06 <br>
  Hora: 8:20PM<br>
 </h1>
<button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>

</div></swiper-slide>
<swiper-slide> <div class="container">
  <div class="row">
    <div class="col-6">
<h1 class="titulo">PALCO GUACHERNA 2024</h1>
<p class="normal">2024-02-02</p>
<img src="https://tuboleta.com/imagenes/65a004b332600.webp">
</div>
<div class="col-6">
<h1 class="normal">
  Lugar: Catedral Metropolitana <br>
  Ciudad: Barranquilla <br>
  Fecha: 2024-02-02 <br>
  Hora: 8:00PM <br>
 </h1>
<button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>

</div></swiper-slide>


<swiper-slide> <div class="container">
  <div class="row">
    <div class="col-6">
      <swiper-slider *ngFor="let slide of event_list">
        <img src="{{slide.image}}">
       </swiper-slider>
</div>

</div>

</div></swiper-slide>


  </swiper-container>


  
  
</ion-content>
