<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      MyTicket
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondohome">
  

  <swiper-container
  [loop]="true"
  [pagination]="true"
  >
  

<swiper-slide>
  <div class="container">
    <div class="row">
      <div class="col-6">
  <h1 class="titulo">JUNIOR VS BUCARAMANGA</h1>
  <p class="normal">24/01/2024</p>
  <img src="https://tuboleta.com/imagenes/65aacf71c0c41.webp">
</div>
<div class="col-6">
  <h1 class="normal">
    Lugar: Estadio Metropolitano de Fútbol Roberto Meléndez <br>
    Ciudad: Barranquilla <br>
    Fecha: 2024-01-21 <br>
    Hora: 6:10PM <br>
    Dirección: Av. Circunvalar con Cll Murillo
   .</h1>
  <button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>
 
</div>
  
</swiper-slide>
<swiper-slide>
  <div class="container">
    <div class="row">
      <div class="col-6">
  <h1 class="titulo">METRO FEST SANTA MARTA 2024</h1>
  <p class="normal">11/02/2024</p>
  <img src="https://tuboleta.com/imagenes/65a13a693d33c.webp">
</div>
<div class="col-6">
  <h1 class="normal">
    Lugar: Rumbodromo de la 22 <br>
    Ciudad: Santa Marta <br>
    Fecha: 2024-02-11 <br>
    Hora: 4:00PM. <br>
   </h1>
  <button type="button" class="btn btn-primary">COMPRAR BOLETA</button>
</div>
</div>
 
</div>
</swiper-slide>
<swiper-slide>
  <div class="container">
    <div class="row">
      <div class="col">
        <ion-datetime locale="es-ES"></ion-datetime>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
</swiper-slide>
<swiper-slide>Slide 4</swiper-slide>
<swiper-slide>Slide 5</swiper-slide>
<swiper-slide>Slide 6</swiper-slide>


  </swiper-container>


  
  
</ion-content>
